body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 30px;
  margin: 0 100px;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu ul {
  display: flex;
  list-style-type: none;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  margin: 10px;
  padding: 10px;;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-menu a:hover {
  color: #ccc;
}

/* Home */

.homeContainer{
  background-image: url("https://wallpapercave.com/wp/wp2172683.jpg");
}


/* Login Page */

/* .LoginContainer{
  color: white;
} */

/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #3a1c71, #d76d77, #ffaf7b);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sign-up-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form Styles */
.sign-up-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  backdrop-filter: blur(10px);
}

.sign-up-form h2 {
  margin-top: 0;
  color: #333;
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.sign-up-form p {
  color: #666;
  margin-bottom: 30px;
}

.sign-up-form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  transition: box-shadow 0.3s ease;
}

.sign-up-form input:focus {
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sign-up-btn {
  background: linear-gradient(to right, #ff9966, #ff5e62);
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.sign-up-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.auth-providers {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.auth-providers button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.auth -providers button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.auth-providers button i {
  font-size: 1.5rem;
  color: #333;
}

/* Background Image Styles */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('cocktail-image.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(5px) brightness(0.8);
  z-index: -1;
}